html {
  scroll-behavior: smooth;
}

body {
  background-color: $background;
  font-family: "Montserrat", sans-serif;
  &.theme-white {
    background-color: $background-w;
  }
}

//Colors
.gray {
  color: $grayMedium;
}
.blue {
  color: $primaryColor;
}

//Text
.subtitle {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}
.title {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
}
.text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8;
}
