.lang {
    position: fixed;
    top: 48%;
    right: 30px;
    z-index: 2;
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    opacity: 0;
    li {
        margin-bottom: 15px;
        list-style: none;
        cursor: pointer;
        &:last-child {
            opacity: 0.5;
        }
        a {
            color: white;
            text-decoration: none;
        }
    }
}