.scroll {
  position: fixed;
  bottom: 20px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 14px;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  &.no-visible {
    display: none !important;
  }
  p {
    transform: rotate(270deg);
    line-height: 0.5;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 0px;
    @media (max-width: $maxWidth) {
      display: none;
    }
  }
  img {
    position: absolute;
    bottom: 0;
    left: 7px;
  }
  a {
    color: white;
    text-decoration: none;
    width: 30px;
    height: 80px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:hover {
    opacity: 0.6;
  }
}

.scroll-top {
  background: url("../images/up-arrow.svg") white center no-repeat;
  background-size: 20px;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  display: none;
  &:hover {
    background-color: $primaryColor;
  }
  &.visible {
    display: block;
  }
}
