.content-section1 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  .copy {
    max-width: 600px;
    width: 100%;
    display: flex;
    z-index: 1;
    > div {
      display: flex;
      position: relative;
      align-items: center;
      width: 50%;
      overflow: hidden;
      &.copy1 {
        justify-content: flex-end;
      }
    }
    h1 {
      font-family: "Bebas Neue";
      font-size: 110px;
      text-align: right;
      line-height: 0.8;
      font-weight: 100;
      margin: 0;
      text-rendering: geometricPrecision;
      color: white;
      display: flex;
      flex-direction: column;
      opacity: 0;
      @media (max-width: $maxWidth) {
        font-size: 90px;
      }
    }
    .copy2 p {
      font-family: "Montserrat", sans-serif;
      margin-left: 20px;
      font-size: 19px;
      line-height: 1.4;
      font-weight: 500;
      text-rendering: geometricPrecision;
      color: white;
      width: 240px;
      opacity: 0;
      span {
        color: $primaryColor;
        font-weight: bold;
      }
      @media (max-width: $maxWidth) {
        width: 100%;
        padding-right: 20px;
        font-size: 14px;
      }
    }
  }
}
